@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	/*--font-sans: var(--font-geist-sans);*/
	/*--font-mono: var(--font-geist-mono);*/
	--font-inter: var(--font-inter);
}

@utility animate-wave {
	animation: wave 2s ease-in-out infinite;
}

@keyframes wave {
	0%, 100% {
		transform: translateY(10%);
	}
	50% {
		transform: translateY(-10%);
	}
}

@keyframes jitter {
	0%, 100% {
		transform: translateY(2.5%);
	}
	50% {
		transform: translateY(-2.5%);
	}
}

@utility animate-background {
	animation: animate-background-keyframes 4s linear infinite;
}

@keyframes animate-background-keyframes {
	0% {
		background-position: 0 50%;
	}
	/*noinspection CssUnresolvedCustomProperty*/
	100% {
		background-position: calc(1px * var(--size)) 50%;
	}
}

@keyframes skeleton-loading {
	0% {
		background-color: #F5F5F5; /* FROM Color 1 */
	}
	100% {
		background-color: #969696; /* TO Color 2 */
	}
}

@utility loading-skeleton {
	animation: skeleton-loading 2s linear infinite alternate;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: var(--color-zinc-900);
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
